<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 headder" >
     <div class="headder" style="margin-top:10px;margin-bottom:10px">
      <img src="../../../assets/shopping_cart_racing.png" width="30px" height="30px"> <span style="color:white">E-cart</span>
    </div>
    </div>
  </div>
</div>
  
  <div class="container-fluid menu">
   <div class="row">
     <div class="col-md-12" style="margin-top:25px;">
  <div>
      <svg width="30" height="30" class="click">
        <path d='M0,5 30,5' stroke='#111' stoke-width="5"></path>
        <path d='M0,14 30,14' stroke="#111" stoke-width="5"></path>
        <path d='M0,23 30,23' stroke="#111" stoke-width="5"></path>
      </svg>
      <span class="main-text">Ashok Bejo</span>
      <i class="fas fa-sign-out-alt" (click)="back()"></i>
      </div>
   </div>
  </div>
  </div>
  
  <div id="side-menu" class="side-nav">
    <a  class="btn-close" >&times;</a>
     <ul>
       <li (click)="toys()">toys</li>
       <li (click)="dresses()">dresses</li>
       <li (click)="baby()">baby</li>
       <li (click)="shoes()">shoes</li>
     </ul>
  </div>

  <div class="container-fluid">
    <div class="row">
        
     
     <div class="col-md-6"> 
      <div class="story-card">
       <div class="card-image">
           <img src="http://13.235.23.149:4001/{{datas.product}}" alt="">
       </div>
       
      </div></div>
   
      <div class="col-md-6" >
        <h2 class="productName">productName: {{datas.productName}}</h2>
        <h6 style="margin-bottom:10px;text-transform: capitalize;" class="texts">{{datas.discription}}</h6>
        <h6 class="productClass">PRIZE: {{datas.prize}}</h6>
        <h6 class="productClass">CATEGORY: {{datas.category}}</h6>
        
        <div class="editdelete">
        <i class="fas fa-trash-alt" (click)="deleteproduct()"  title="Delete Issue">Delete</i>
        <i class="fas fa-edit" [routerLink]="['/edit',productId]"  title="Edit Issue">Edit</i>
        </div>
        </div>
        
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer">
      <div class="footer-main-div">
        <div class="footer-social-icons">
          <ul>
              <p>Follow me</p>
          <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
          <p>aruashok17@gmail.com</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  