<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 headder" >
       <div class="headder" style="margin-top:10px;margin-bottom:10px">
        <img src="../../../assets/shopping_cart_racing.png" width="30px" height="30px"> <span style="color:white">E-cart</span>
      </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid menu">
   <div class="row">
     <div class="col-md-12" style="margin-top:25px;">
  <div>
      <svg width="30" height="30" class="click">
        <path d='M0,5 30,5' stroke='#111' stoke-width="5"></path>
        <path d='M0,14 30,14' stroke="#111" stoke-width="5"></path>
        <path d='M0,23 30,23' stroke="#111" stoke-width="5"></path>
      </svg>
      <span class="main-text">Ashok Bejo</span>
      <i class="fas fa-sign-out-alt" (click)="logout()"></i>
      </div>
   </div>
  </div>
  </div>
  
  <div id="side-menu" class="side-nav">
    <a  class="btn-close" >&times;</a>
     <ul>
        <li (click)="home()">home</li>
       <li (click)="toys()">toys</li>
       <li (click)="dresses()">dresses</li>
       <li (click)="shoes()">shoes</li>
     </ul>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="header">
                <i class="fas fa-user-shield">---{{userName}}</i>
              </div>  
          </div>
      </div>
  </div>
  
  
 

  <div class="container-fluid" style="margin-top:80px">
    <h1 class="main-head">Dress</h1>
    <div class="row">
         
            <div class="col-md-4" *ngFor='let items of datas | paginate: { itemsPerPage: count, currentPage: p }'>
              <div class="card" style="width: 18rem;">
                <img src="http://13.235.23.149:4001/{{items.product}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{items.productName}}</h5>
                  <h6 class="cardtext">Posted By : {{items.adminName}}</h6>
                  <h6 class="cardtext">prize : ${{items.prize}}</h6>
                  <h6  class="cardtext">category :{{items.category}}</h6>
                </div>
                <div class="card-body">
                 <button [routerLink]='["/view",items.productId]' class="btn btn-light">view</button>
                </div>
              </div>
            </div>
           
        </div>
        <div class="controller">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
  </div>
 
         

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer">
      <div class="footer-main-div">
        <div class="footer-social-icons">
          <ul>
              <p>Follow me</p>
          <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
          <p>aruashok17@gmail.com</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  