<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 headder" >
     <div class="headder" style="margin-top:10px;margin-bottom:10px">
      <img src="../../../assets/shopping_cart_racing.png" width="30px" height="30px"> <span style="color:white">E-cart</span>
    </div>
    </div>
  </div>
</div>
  <div class="container-fluid menu">
   <div class="row">
     <div class="col-md-12" style="margin-top:25px;">
  <div>
      <svg width="30" height="30" class="click">
        <path d='M0,5 30,5' stroke='#111' stoke-width="5"></path>
        <path d='M0,14 30,14' stroke="#111" stoke-width="5"></path>
        <path d='M0,23 30,23' stroke="#111" stoke-width="5"></path>
      </svg>
      <span class="main-text">Ashok Bejo</span>
      <i class="fas fa-sign-out-alt" (click)="logout()"></i>
      </div>
   </div>
  </div>
  </div>
  
  <div id="side-menu" class="side-nav">
    <a  class="btn-close" >&times;</a>
     <ul>
       <li (click)="toys()">toys</li>
       <li (click)="dresses()">dresses</li>
       <li (click)="shoes()">shoes</li>
     </ul>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="header">
                <i class="fas fa-user-shield">---{{userName}}</i>
              </div>  
          </div>
      </div>
  </div>
  
  
  <div class="container-fluid" style="margin-top:30px;">
    <h1 class="main-head">Add Product</h1>
    <div class="row" style='margin-top:20px'>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form>
            <div class="form-group">
             <label>Product Name:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="productName" [(ngModel)]="productName" placeholder="product Name *">
                             </div>
             <div class="form-group">
                <label>Prize:</label>
                        <input type="Number" class="form-control" id="exampleInputEmail" name="prize" [(ngModel)]="prize" placeholder="prize*">
                </div>
                <div class="form-group">
                  <label>Description:</label>
                          <input type="text" class="form-control" id="exampleInputEmail2" name="Discription" [(ngModel)]="discription" placeholder="discription *">
                  </div>
                  
             <div class="form-group">
                <label>Category : </label>
                       
                         <select name="" id="" name="category" [(ngModel)]="category">
                             <option>Toy</option>
                             <option>Dress</option>
                             <option>shoes</option>
                         </select>
                </div>
              <div class="form-group" >
                <label>
                    Choose Image :
                  </label>
                  <input  type="file" (change)="imageselect($event)" >
                                         </div>
                                      
                                         <div class="d-flex justify-content-center" *ngIf="loader==true">
                                          <div class="spinner-border" role="status">
                                            <span class="sr-only" style="color:black">Loading...</span>
                                          </div>
                                        </div>
                    <div class="btn-alignment">
                        
                    <button type="submit" class="btn btn-primary" (click)="postproduct()">upload</button>
    
                   
                    </div>
                  </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top:80px">
    <h1 class="main-head">All Products</h1>
    <div class="row">
         
            <div class="col-md-4" *ngFor='let items of datas | paginate: { itemsPerPage: count, currentPage: p }'>
              <div class="card" style="width: 18rem;">
                <img src="http://13.235.23.149:4001/{{items.product}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{items.productName}}</h5>
                  <h6 class="cardtext">Posted By : {{items.adminName}}</h6>
                  <h6 class="cardtext">prize : ${{items.prize}}</h6>
                  <h6  class="cardtext">category :{{items.category}}</h6>
                </div>
                <div class="card-body">
                 <button [routerLink]='["/view",items.productId]' class="btn btn-light">view</button>
                </div>
              </div>
            </div>
           
        </div>
        <div class="controller">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
  </div>

 
         

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer">
      <div class="footer-main-div">
        <div class="footer-social-icons">
          <ul>
              <p>Follow me</p>
          <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
          <p>aruashok17@gmail.com</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  